.container {
  font-family: 'Arial', sans-serif;
  background-color: #F8F7F2;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.socials a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.text h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.text .highlight {
  color: #D35400;
}

.text p {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #D35400;
}

.image {
  position: relative;
}

.image img {
  border-radius: 10px;
}

.background {
  position: absolute;
  width: 500px;
  height: 600px;
  background: url('https://i.postimg.cc/C1s9v43W/IMG-20240818-165250.jpg') no-repeat center center;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: -1;
}